*.wav
*.mp3
copilot-instructions.md
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/
.venv/
Thumbs.db
Desktop.ini
.vscode/
.idea/
*.log
*.tmp
dist/
build/
.DS_Store
.env
config.secret.json
symbols.txt
Backup/
screensetup.txt
General/screensetup.txt